<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
        <link href="{{ asset('bundles/halbehatwizard/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/halbehatwizard/css/style.css') }}" type="text/css" rel="stylesheet" />

        {% endblock %}
        <title>Behat Wizard</title>
    </head>
    <body>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('hbw.home') }}">Behat Wizard</a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li><a href="{{ path('hbw.home') }}"><i class="icon-white icon-home"></i> My features</a></li>
                            <li><a href="{{ path('hbw.add') }}"><i class="icon-white icon-plus-sign"></i> New feature</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container page">

            {% for key, message in app.session.getFlashes() %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}) }}
            </div>
            {% endfor %}


            <section>
                <h2>{% block title %}{% endblock %}</h2>
                <div id="content">
                    {% block body %}{% endblock %}
                </div>
            </section>

        </div>
        {% javascripts
        '@HalBehatWizardBundle/Resources/public/js/jquery.min.js'
        '@HalBehatWizardBundle/Resources/public/bootstrap/js/bootstrap.min.js'
        '@HalBehatWizardBundle/Resources/public/bootstrap/js/bootstrap-typeahead.js'
        '@HalBehatWizardBundle/Resources/public/bootstrap/js/bootstrap-tooltip.js'
        '@HalBehatWizardBundle/Resources/public/bootstrap/js/bootstrap-popover.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/domain.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/domain/feature.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/domain/exception.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/domain/step.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/domain/scenario.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/domain/outline.js'
        '@HalBehatWizardBundle/Resources/public/js/jquery/quicksand/jquery.quicksand.js'
        '@HalBehatWizardBundle/Resources/public/js/jquery/jquery.easing.1.3.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/ui.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/ui/listing.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/ui/editing.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/ui/editing/events.js'
        '@HalBehatWizardBundle/Resources/public/js/hbw/ui/editing/mapper.js'
        output='js/compiled/behat-wizard.js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {% block javascript %}{% endblock %}
    </body>
</html>
