{% extends 'HalBehatWizardBundle::base.html.twig' %}

{% block title %}{{ "hal_behat_wizard.title.features"|trans }}{% endblock %}

{% block body %}


<div class="box-act">
    <a class="btn btn-primary" href="#">{{ "hal_behat_wizard.btn.feature.add"|trans }}</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>{{ "hal_behat_wizard.status"|trans }}</th>
            <th>{{ "hal_behat_wizard.feature"|trans }}</th>
            <th>{{ "hal_behat_wizard.infos"|trans }}</th>
            <th>{{ "hal_behat_wizard.actions"|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="icon icon-ok"></i></td>
            <td>Fonctionnalité 1</td>
            <td>4 scénarios (0 erreurs)</td>
            <td class="col-act"><a class="btn" href="{{ path('hal_behat_wizard_edit', {feature:1}) }}"><i class="icon icon-zoom-in"></i></a></td>
        </tr>
        <tr>
            <td><i class="icon icon-exclamation-sign"></i></td>
            <td>Fonctionnalité 2</td>
            <td>5 scénarios (1 erreur)</td>
            <td class="col-act"><a class="btn" href="{{ path('hal_behat_wizard_edit', {feature:1}) }}"><i class="icon icon-zoom-in"></i></a></td>
        </tr>
        <tr>
            <td><i class="icon icon-ok"></i></td>
            <td>Fonctionnalité 3</td>
            <td>2 scénarios (0 erreurs)</td>
            <td class="col-act"><a class="btn" href="{{ path('hal_behat_wizard_edit', {feature:1}) }}"><i class="icon icon-zoom-in"></i></a></td>
        </tr>
    </tbody>
</table>

{% endblock %}

